* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #a8a800c4;
}





footer {
    padding: 1vh 0 1vh;
    margin-top: 10vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(216, 245, 255);
    text-align: center;
    text-shadow: 1px 2px 2px darkblue;
    font-weight: bolder;
    font-size: x-small;
    background-image: linear-gradient(to right, #225f96,#0088ff,#225f96);
}
footer a {
    text-decoration: none; 
    color: rgb(131, 224, 255);
}