* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #000, #2c2c2cb7, #000);
}



header{
    margin: 10px 0 0 0;
}

h1 {text-shadow: 1px 1px 2px #fff;}

#time {
    font-family: 'Seven Segment', sans-serif;
    background-color: #000;
    color: #ff0000;
    font-weight: bolder;
    padding: 5rem;
    height: 82vh;
    width: 1300px;
    border-radius: 0 0 15px 15px;
    border: #141212 4px solid;
    border-top: none;
    font-size: 20rem;
}

#date {
    background-color: black;
    color: #fff;
    margin-top: 1vh;
    padding: 10px;
    font-size: 30px;
    letter-spacing: 2px;
    border-radius: 15px 15px 0 0;
    border: #141212 4px solid;
    border-bottom: none;
}




footer {
    padding: 1vh 0 1vh;
    margin-top: 10vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(216, 245, 255);
    text-align: center;
    text-shadow: 1px 2px 2px darkblue;
    font-weight: bolder;
    font-size: x-small;
    background-image: linear-gradient(to right, #225f96,#0088ff,#225f96);
}
footer a {
    text-decoration: none; 
    color: rgb(131, 224, 255);
}