* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to right, #813c1a, #b26e4a, #f2c5a5, #b26e4a, #813c1a);
}

header {
    margin: 20px 0 30px;
    background-color: #1b0100;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 10px;
    text-shadow: 1px 1px 3px #b26e4a;
    letter-spacing: 2px;
}

textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    resize: none;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #1b0100;
    padding: 22px;
    transition: .4s;
}
textarea:focus {
    box-shadow: 0px 0px 5px 3px #f2c5a5;
    outline: none;
}




#btnContainer {border-bottom: 1px solid #813c1a; padding-bottom: 8px; max-width: 200px;}

#btnContainer, #counter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 12px auto;
}

.textBtn {
    cursor: pointer;
    background-color: #1b0100;
    color: #fff;
    padding: .5rem;
    border-radius: 8px;
    border: 2px inset #b26e4a;
    transition: .3s ease-in-out;
}
.textBtn:hover {
    background-color: #813c1a;
    border: 2px solid #b26e4a;
    transform: scale(1.05);
}
.textBtn:active {opacity: .5;}

#counter {
    text-align: center;
    margin-top: 1.3em;
    color: #1b0100;
    font-weight: bolder;
    width: 100%;
    font-size: 17px;
}




footer {
    padding: 1vh 0 1vh;
    margin-top: 10vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(216, 245, 255);
    text-align: center;
    text-shadow: 1px 2px 2px darkblue;
    font-weight: bolder;
    font-size: x-small;
    background-image: linear-gradient(to right, #225f96,#0088ff,#225f96);
}
footer a {
    text-decoration: none; 
    color: rgb(131, 224, 255);
}