* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.80) 1%, grey, rgba(0, 0, 0, 0.80) 99%);
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

h1 {
    text-align: center;
    margin: 0 0 40px;
    font-size: 50px;
    text-shadow: 1px 1px 4px whitesmoke;
}

input[type="number"] {
    padding: 10px;
    margin: 10% 30px 4%;
    font-size: large;
    outline: none;
}   

#power,
#rootX {
    padding: 0 0 6px 20px;
}

#raised,
#root {
    padding: 1px;
    width: 50px;
}

button {
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    margin: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: black;
    color: whitesmoke;
    transform: scale(1.3);
}

#showMore {
    background-color: yellowgreen;
}

#evenMore {
    background-color: orangered;
}

#advanced {
    background-color: yellow;
}

#showMore:hover,
#evenMore:hover,
#advanced:hover {
    color: black;
    text-shadow: 1px 1px 10px wheat;
}

#result {
    text-align: center;
    margin: 5vh 13vh;
    font-weight: bolder;
    font-size: 35px;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.473);
    padding-bottom: 5px;
}

.hidden,
.hidden2,
.hidden3 {
    display: none;
}