* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {font-family: Arial, Helvetica, sans-serif;  background-color: #769;}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20vh;
}

button {
    padding: 10px;
    border-radius: 12px;
    border: none;
    background-color: #225;
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 10vh;
    transition: ease-out 0.2s;
}
button:hover {
    cursor: pointer;
    opacity: 0.90;
    transform: scale(1.1);
}

p {
    font-size: 18px;
    font-weight: bolder;
    margin: 20px;
    color: black;
    text-shadow: 3px 2px 12px #769;
}




footer {
    padding: 1vh 0 1vh;
    margin-top: 10vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(216, 245, 255);
    text-align: center;
    text-shadow: 1px 2px 2px darkblue;
    font-weight: bolder;
    font-size: x-small;
    background-image: linear-gradient(to right, #225f96,#0088ff,#225f96);
}
footer a {
    text-decoration: none; 
    color: rgb(131, 224, 255);
}