* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
}

header {
    text-align: center;
    background-image: linear-gradient(to right, blue, rgb(0, 162, 232), blue);
    color: white;
    font-size: 14px;
    padding: 15px 0 15px 0;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {font-size: 22px; font-weight: bold; margin: 20px 0 30px;}

input {
    padding: 10px;
    margin: 10vh 2vw 0 4vw; 
}

select {
    padding: 2px;
    transition: .5s;
    border: 2px solid black;
    border-radius: 8px;
}

button {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
}
button:active {opacity: .7;}

.tipoTemp {padding: 5px;}

#tipoTemp1 {margin-right: 7vw;}

.temp {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    cursor: text;
    color: black;
    font-size: 17px;
    font-weight: bold;
    transition: 0.4s;
}
.temp:focus {box-shadow: 1px 2px 2px 2px rgb(0, 162, 232);}

#conversor {
    font-size: 17px;
    margin: 8vh 0 10vh;
}

#theme {
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    float: right;
    margin-right: 2vw;
    border: 2px solid;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}



footer {
    padding: 1vh 0 1vh;
    margin-top: 10vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(216, 245, 255);
    text-align: center;
    text-shadow: 1px 2px 2px darkblue;
    font-weight: bolder;
    font-size: x-small;
    background-image: linear-gradient(to right, #225f96,#0088ff,#225f96);
}
footer a {
    text-decoration: none; 
    color: rgb(131, 224, 255);
}